<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bokyeefung.webtools.webtoolsmainservice.common.dao.mapper.CostMapper">
    <resultMap id="BaseResultMap" type="com.bokyeefung.webtools.cbb.model.dao.entity.CostPo">
        <id column="UUID" jdbcType="VARCHAR" property="uuid"/>
        <result column="RELATION_ID" jdbcType="VARCHAR" property="relationId"/>
        <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType"/>
        <result column="IS_VALID" jdbcType="INTEGER" property="isValid"/>
        <result column="MONEY_COST" jdbcType="INTEGER" property="moneyCost"/>
        <result column="TIME_COST" jdbcType="INTEGER" property="timeCost"/>
    </resultMap>
    <sql id="Base_Column_List">
        UUID
        , RELATION_ID, TRANS_TYPE, IS_VALID, MONEY_COST, TIME_COST
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_cost
        where UUID = #{uuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tbl_cost
        where UUID = #{uuid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.CostPo">
        <selectKey keyProperty="uuid" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_cost (RELATION_ID, TRANS_TYPE, IS_VALID,
        MONEY_COST, TIME_COST)
        values (#{relationId,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR}, #{isValid,jdbcType=INTEGER},
        #{moneyCost,jdbcType=INTEGER}, #{timeCost,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.CostPo">
        <selectKey keyProperty="uuid" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_cost
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relationId != null">
                RELATION_ID,
            </if>
            <if test="transType != null">
                TRANS_TYPE,
            </if>
            <if test="isValid != null">
                IS_VALID,
            </if>
            <if test="moneyCost != null">
                MONEY_COST,
            </if>
            <if test="timeCost != null">
                TIME_COST,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relationId != null">
                #{relationId,jdbcType=VARCHAR},
            </if>
            <if test="transType != null">
                #{transType,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="moneyCost != null">
                #{moneyCost,jdbcType=INTEGER},
            </if>
            <if test="timeCost != null">
                #{timeCost,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.CostPo">
        update tbl_cost
        <set>
            <if test="relationId != null">
                RELATION_ID = #{relationId,jdbcType=VARCHAR},
            </if>
            <if test="transType != null">
                TRANS_TYPE = #{transType,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                IS_VALID = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="moneyCost != null">
                MONEY_COST = #{moneyCost,jdbcType=INTEGER},
            </if>
            <if test="timeCost != null">
                TIME_COST = #{timeCost,jdbcType=INTEGER},
            </if>
        </set>
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.CostPo">
        update tbl_cost
        set RELATION_ID = #{relationId,jdbcType=VARCHAR},
            TRANS_TYPE  = #{transType,jdbcType=VARCHAR},
            IS_VALID    = #{isValid,jdbcType=INTEGER},
            MONEY_COST  = #{moneyCost,jdbcType=INTEGER},
            TIME_COST   = #{timeCost,jdbcType=INTEGER}
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>
</mapper>