<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bokyeefung.webtools.webtoolsmainservice.common.dao.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.bokyeefung.webtools.cbb.model.dao.entity.OrderPo">
        <id column="UUID" jdbcType="VARCHAR" property="uuid"/>
        <result column="RELATION_ID" jdbcType="VARCHAR" property="relationId"/>
        <result column="NUMBER" jdbcType="INTEGER" property="number"/>
        <result column="IS_CONFIRMED" jdbcType="INTEGER" property="isConfirmed"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        UUID
        , RELATION_ID, `NUMBER`, IS_CONFIRMED, USER_ID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_order
        where UUID = #{uuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tbl_order
        where UUID = #{uuid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.OrderPo">
        insert into tbl_order (UUID, RELATION_ID, `NUMBER`, IS_CONFIRMED, USER_ID)
        values (#{uuid,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER},
                #{isConfirmed,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.OrderPo">
        <selectKey keyProperty="uuid" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relationId != null">
                RELATION_ID,
            </if>
            <if test="number != null">
                `NUMBER`,
            </if>
            <if test="isConfirmed != null">
                IS_CONFIRMED,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relationId != null">
                #{relationId,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="isConfirmed != null">
                #{isConfirmed,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.OrderPo">
        update tbl_order
        <set>
            <if test="relationId != null">
                RELATION_ID = #{relationId,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                `NUMBER` = #{number,jdbcType=INTEGER},
            </if>
            <if test="isConfirmed != null">
                IS_CONFIRMED = #{isConfirmed,jdbcType=INTEGER},
            </if>
        </set>
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bokyeefung.webtools.cbb.model.dao.entity.OrderPo">
        update tbl_order
        set RELATION_ID  = #{relationId,jdbcType=VARCHAR},
            `NUMBER`     = #{number,jdbcType=INTEGER},
            IS_CONFIRMED = #{isConfirmed,jdbcType=INTEGER}
        where UUID = #{uuid,jdbcType=VARCHAR}
    </update>


    <resultMap id="RichResultMap" type="com.bokyeefung.webtools.cbb.model.dao.entity.OrderPo">
        <id column="UUID" jdbcType="VARCHAR" property="uuid"/>
        <result column="RELATION_ID" jdbcType="VARCHAR" property="relationId"/>
        <result column="NUMBER" jdbcType="INTEGER" property="number"/>
        <result column="IS_CONFIRMED" jdbcType="INTEGER" property="isConfirmed"/>
        <association property="srcArticle" javaType="com.bokyeefung.webtools.cbb.model.dao.entity.ArticlePo">
            <id column="SRC_UUID" jdbcType="VARCHAR" property="uuid"/>
            <result column="SRC_GROUP_ID" jdbcType="VARCHAR" property="groupId"/>
            <result column="SRC_NAME" jdbcType="VARCHAR" property="name"/>
            <result column="SRC_MONEY_COST" jdbcType="INTEGER" property="moneyCost"/>
            <result column="SRC_TIME_COST" jdbcType="INTEGER" property="timeCost"/>
            <result column="SRC_NUMBER" jdbcType="INTEGER" property="number"/>
        </association>
        <association property="dstArticle" javaType="com.bokyeefung.webtools.cbb.model.dao.entity.ArticlePo">
            <id column="DST_UUID" jdbcType="VARCHAR" property="uuid"/>
            <result column="DST_GROUP_ID" jdbcType="VARCHAR" property="groupId"/>
            <result column="DST_NAME" jdbcType="VARCHAR" property="name"/>
            <result column="DST_MONEY_COST" jdbcType="INTEGER" property="moneyCost"/>
            <result column="DST_TIME_COST" jdbcType="INTEGER" property="timeCost"/>
            <result column="DST_NUMBER" jdbcType="INTEGER" property="number"/>
        </association>
    </resultMap>
    <sql id="Src_Article_Column_List">
        A.UUID AS SRC_UUID, A.GROUP_ID AS SRC_GROUP_ID, A.`NAME` AS SRC_NAME, A.MONEY_COST AS SRC_MONEY_COST,
        A.TIME_COST AS SRC_TIME_COST, A.`NUMBER` AS SRC_NUMBER
    </sql>
    <sql id="Dst_Article_Column_List">
        AD.UUID AS DST_UUID, AD.GROUP_ID AS DST_GROUP_ID, AD.`NAME` AS DST_NAME, AD.MONEY_COST AS DST_MONEY_COST,
        AD.TIME_COST AS DST_TIME_COST, AD.`NUMBER` AS DST_NUMBER
    </sql>

    <select id="selectByHostGroupId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>, <include refid="Dst_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_RELATION R ON R.UUID = O.RELATION_ID
        LEFT JOIN TBL_ARTICLE A ON A.UUID = R.SOURCE_ID
        LEFT JOIN TBL_ARTICLE AD ON AD.UUID = R.DESTINATION_ID
        WHERE AD.GROUP_ID = #{groupId,jdbcType=VARCHAR}
        ORDER BY O.IS_CONFIRMED ASC
    </select>

    <select id="selectByHostUserId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_ARTICLE A ON A.UUID = O.RELATION_ID
        WHERE O.USER_ID = #{userId,jdbcType=VARCHAR}
        ORDER BY O.IS_CONFIRMED ASC
    </select>

    <select id="selectByGroupId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>, <include refid="Dst_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_RELATION R ON R.UUID = O.RELATION_ID
        LEFT JOIN TBL_ARTICLE A ON A.UUID = R.SOURCE_ID
        LEFT JOIN TBL_ARTICLE AD ON AD.UUID = R.DESTINATION_ID
        WHERE A.GROUP_ID = #{groupId,jdbcType=VARCHAR}
        ORDER BY O.IS_CONFIRMED ASC
    </select>

    <select id="selectCommodityByGroupId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_ARTICLE A ON A.UUID = O.RELATION_ID
        WHERE A.GROUP_ID = #{groupId,jdbcType=VARCHAR}
        ORDER BY O.IS_CONFIRMED ASC
    </select>

    <select id="selectByUuidAndHostGroupId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>, <include refid="Dst_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_RELATION R ON R.UUID = O.RELATION_ID
        LEFT JOIN TBL_ARTICLE A ON A.UUID = R.SOURCE_ID
        LEFT JOIN TBL_ARTICLE AD ON AD.UUID = R.DESTINATION_ID
        WHERE O.UUID = #{uuid,jdbcType=VARCHAR} AND AD.GROUP_ID = #{groupId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUuidAndHostUserId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_ARTICLE A ON A.UUID = O.RELATION_ID
        WHERE O.UUID = #{uuid,jdbcType=VARCHAR} AND O.USER_ID = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="selectByUuidAndGroupId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>, <include refid="Dst_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_RELATION R ON R.UUID = O.RELATION_ID
        LEFT JOIN TBL_ARTICLE A ON A.UUID = R.SOURCE_ID
        LEFT JOIN TBL_ARTICLE AD ON AD.UUID = R.DESTINATION_ID
        WHERE O.UUID = #{uuid,jdbcType=VARCHAR} AND A.GROUP_ID = #{groupId,jdbcType=VARCHAR}
    </select>

    <select id="selectCommodityByUuidAndGroupId" parameterType="java.lang.String" resultMap="RichResultMap">
        SELECT O.UUID, O.RELATION_ID, <include refid="Src_Article_Column_List"/>,
        O.IS_CONFIRMED, O.`NUMBER` FROM TBL_ORDER O
        LEFT JOIN TBL_ARTICLE A ON A.UUID = O.RELATION_ID
        WHERE O.UUID = #{uuid,jdbcType=VARCHAR} AND A.GROUP_ID = #{groupId,jdbcType=VARCHAR}
    </select>

    <update id="confirmOrder" parameterType="java.lang.String">
        UPDATE TBL_ORDER O
        SET IS_CONFIRMED = 1
        WHERE O.UUID = #{uuid,jdbcType=VARCHAR} AND EXISTS(
                SELECT 1 FROM TBL_RELATION R
                                  LEFT JOIN TBL_ARTICLE A ON A.UUID = R.SOURCE_ID
                WHERE A.GROUP_ID = #{groupId,jdbcType=VARCHAR} AND O.UUID = #{uuid,jdbcType=VARCHAR} AND R.UUID = O.RELATION_ID
            )
    </update>

    <update id="confirmCommodityOrder" parameterType="java.lang.String">
        UPDATE TBL_ORDER O
        SET IS_CONFIRMED = 1
        WHERE O.UUID = #{uuid,jdbcType=VARCHAR} AND EXISTS(
                SELECT 1 FROM TBL_ARTICLE A
                WHERE A.GROUP_ID = #{groupId,jdbcType=VARCHAR} AND O.UUID = #{uuid,jdbcType=VARCHAR} AND A.UUID = O.RELATION_ID
            )
    </update>

    <update id="updateNumberByHostGroupId">
        UPDATE TBL_ORDER O
        SET O.NUMBER = #{orderPo.number,jdbcType=INTEGER}
        WHERE O.UUID = #{orderPo.uuid,jdbcType=VARCHAR} AND EXISTS(
                SELECT 1 FROM TBL_RELATION R
                                  LEFT JOIN TBL_ARTICLE AD ON AD.UUID = R.DESTINATION_ID
                WHERE AD.GROUP_ID = #{groupId,jdbcType=VARCHAR} AND O.UUID = #{orderPo.uuid,jdbcType=VARCHAR} AND R.UUID = O.RELATION_ID
            )
    </update>

    <update id="updateNumberByHostUserId">
        UPDATE TBL_ORDER O
        SET O.NUMBER = #{orderPo.number,jdbcType=INTEGER}
        WHERE O.UUID = #{orderPo.uuid,jdbcType=VARCHAR} AND O.USER_ID = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>